[modules]
log_syslog
pppoe
pptp
l2tp
auth_mschap_v2
auth_mschap_v1
auth_pap
ippool
chap-secrets

[core]
log-error=/var/log/accel-ppp/core.log
thread-count=4

[ppp]
verbose=1
min-mtu=1280
mtu=1400
mru=1400
ipv4=require
ipv6=deny

[lcp]
echo-interval=30
echo-failure=3

[pptp]
interface=eth0
verbose=1

[pppoe]
interface=eth0
verbose=1

[l2tp]
interface=eth0
verbose=1
use-ephemeral-ports=0

[dns]
dns1=172.16.0.1
dns2=172.16.1.1

[client-ip-range]
disable

[ip-pool]
gw-ip-address=192.168.200.1
192.168.200.2-2

[log]
log-emerg=/var/log/accel-ppp/emerg.log
#syslog=accel-pppd,daemon
copy=1
level=3

[chap-secrets]
gw-ip-address=192.168.200.1
chap-secrets=/etc/ppp/chap-secrets

[cli]
telnet=127.0.0.1:2000
tcp=127.0.0.1:2001
#password=123
